{% extends "base.html" %}
{% block title %}Classical algorithm One File{% endblock %}
{% block content %}
<!-- First Container
   <div class="container-fluid bg-1 text-center">
     <h3 class="margin">TEST?</h3>
     <p>
       This part is used to try algorithms and compare with SVM algorithm IMOC!!!
     </p>
     <p></p>
   </div> -->
<!-- form -->
<div class="container-fluid bg-2" >
        <div class=" container ">
   <form class="was-validated " method="post" action="{% url 'GiaiThuatCoDien_POST' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="select">Các giải thuật cổ điển</label></br>
      <select onchange="SetDataIn(this.options[this.selectedIndex].value)" class="custom-select" name="select" id="SelectMod">
         <option value="GaussianNB">Naive Bayes(GaussianNB)</option>
         <option value="DecisionTreeClassifier">Decision Tree</option>
         <option value="KNeighborsClassifier">K-Nearest Neighbors</option>
         <option value="BernoulliNB">BernoulliNB</option>
         <option value="ExtraTreeClassifier">ExtraTreeClassifier</option>
         <option value="BaggingClassifier">Bagging classifier</option>
         <option value="AdaBoostClassifier">AdaBoost Classifier</option>
         <option value="MLPClassifier">MLPClassifier</option>
         <option value="LinearDiscriminantAnalysis">Linear Discriminant Analysis</option>
         <option value="RandomForestClassifier">RandomForestClassifier</option>
      </select>
      <div class="p-0 col-12 my-3 d-flex flex-row justify-content-between">
         <div   class="input-group col-5 p-0 ">
            <div class="input-group-prepend">
               <span class="input-group-text bg-dark text-white">Number of Age</span>
            </div>
            <input type="number" class="form-control" min="1" placeholder="Enter Number of Age..." value="1"
               name="number-age" id="input-age">
         </div>
         <div   class="input-group col-5 p-0 ">
            <input type="number" class="form-control" min="1" placeholder="Enter Number of Cut..." value="10"
               name="number-cut" id="input-cut">
            <div class="input-group-prepend">
               <span class="input-group-text bg-dark text-white">Number of batch</span>
            </div>
         </div>
      </div>
      <div  class="p-0 col-12 my-3 d-flex flex-row justify-content-between">
         <div   class="input-group col-5 p-0 ">
          <div class="input-group-prepend">
               <span class="input-group-text bg-dark text-white">Test Size (0.1 - 0.9)</span>
            </div>
            <input type="number" class="form-control"  max="0.9" min="0.1" step="0.1" accept="Test size" value="0.3"
               name="number-k" id="input-k">
            
         </div>
         
         <div  class="input-group col-5 p-0 ">
            <input type="number" class="form-control" max="100" min="1" step="1"  value="1"
               name="inputFor" id="inputFor">
            <div class="input-group-prepend">
               <span class="input-group-text bg-dark text-white">Number For</span>
            </div>
         </div>

      </div>
      <input type="text" name="dataPhu" id="dataPhu" hidden>
      <div class="custom-file">
         <input type="file" class="custom-file-input" id="customFile" name="file-csv-open" accept=".csv">
         <label class="custom-file-label label-browser" for="customFile" name='label-browser'>Select the file with .csv
         extension to execute the test</label>
         <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary shadow col-4" id="btn-submit"
               onclick="e.target.preventDefault()">RUN</button>
         </div>
      </div>
   </form>

</div>
</div>
<style>
   .custom-file-input:lang(en)~.custom-file-label::after {
   content: "Choose File";
   }
</style>
<script>
   function SetDataIn(val){
      var DataString = "";
      // alert(val);
      // DecisionTreeClassifier
      if(val == "DecisionTreeClassifier"){
         // DataString
         let data = prompt("DecisionTreeClassifier\nIn criterion (gini, entropy)", 'gini');
         if( data == ""){
            SetDataIn(val)
         }else{
            DataString = data;
            alert("DecisionTreeClassifier\nIn criterion = "+data);
         }
      }
      // KNeighborsClassifier
      if(val == "KNeighborsClassifier"){
         // DataString
         let data = prompt("KNeighborsClassifier\nNumber of neighbors to use by default for kneighbors queries.\nn_neighbors", '5');
         if( data == ""){
            SetDataIn(val)
         }else{
            DataString = data;
            alert("KNeighborsClassifier\nNumber of neighbors to use by default for kneighbors queries.\nn_neighbors = "+data);
         }
      }
      // ExtraTreeClassifier
      if(val == "ExtraTreeClassifier"){
         // DataString
         let data = prompt("ExtraTreeClassifier\nIn criterion (gini, entropy)", 'gini');
         if( data == ""){
            SetDataIn(val)
         }else{
            DataString = data;
            alert("ExtraTreeClassifier\nIn criterion  = "+data);
            
         }
      }
      // BaggingClassifier
      if(val == "BaggingClassifier"){
         // DataString
         let data = prompt("BaggingClassifier\nThe number of base estimators in the ensemble.\nn_estimators", '10');
         if( data == ""){
            SetDataIn(val)
         }else{
            DataString = data;
            alert("BaggingClassifier\nThe number of base estimators in the ensemble.\nn_estimators  = "+data);
   
         }
      }
      //AdaBoostClassifier
      if(val == "AdaBoostClassifier"){
         // DataString
         let data = prompt("AdaBoostClassifier\nThe number of base estimators in the ensemble.\nn_estimators", '50');
         if( data == ""){
            SetDataIn(val)
         }else{
            DataString = data;
            alert("AdaBoostClassifier\nThe number of base estimators in the ensemble.\nn_estimators = "+data);
   
         }
      }
      // RandomForestClassifier
      if(val == "RandomForestClassifier"){
         // n_estimators
         let data = prompt("RandomForestClassifier\nThe number of trees in the forest.\nn_estimators", '100');
         if( data == ""){
            SetDataIn(val)
         }else{
            DataString = data;
            alert("RandomForestClassifier\nThe number of trees in the forest.\nn_estimators = "+data);
         }
         //criterion
         data = prompt("RandomForestClassifier\nThe number of trees in the forest.\ncriterion (gini, entropy)", 'gini');
         if( data == ""){
            SetDataIn(val)
         }else{
            DataString = DataString + ','+ data;
            alert("RandomForestClassifier\nThe number of trees in the forest.\ncriterion = "+data);
         }
      }
      document.getElementById("dataPhu").value = DataString;
   
   };
   
   {% if img %}
   function tableToCSV() {
   
     // Variable to store the final csv data
     var csv_data = [];
   
     // Get each row data
     var rows = document.getElementsByTagName('tr');
     for (var i = 0; i < rows.length; i++) {
   
       // Get each column data
       var cols = rows[i].querySelectorAll('td,th');
   
       // Stores each csv row data
       var csvrow = [];
       for (var j = 0; j < cols.length; j++) {
   
         // Get the text data of each cell of
         // a row and push it to csvrow
         csvrow.push(cols[j].innerHTML);
       }
   
       // Combine each column value with comma
       csv_data.push(csvrow.join(","));
     }
     // combine each row data with new line character
     csv_data = csv_data.join('\n');
   
     /* We will use this function later to download
     the data in a csv file downloadCSVFile(csv_data);
     */
   }
   
   {% else %}
   // Add the following code if you want the name of the file appear on select
   var check_age = false
   var check_cut = false
   var check_path = false
   document.querySelector('#input-age').addEventListener('change', () => { check_age = true; check() });
   document.querySelector('#input-cut').addEventListener('change', () => { check_cut = true; check() });
   document.querySelector('#customFile').addEventListener('change', () => { check_path = true; check() });
   
   $(".custom-file-input").on("change", function () {
     var fileName = $(this).val().split("\\").pop();
     $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
   });
   async function check() {
     if (check_age == true & check_cut == true & check_path == true) {
   
       if (parseInt(document.querySelector('#input-age').value) >= parseInt(document.querySelector('#input-cut').value)) {
         alert("Please Check Number of Age and Cut!\nNote that the age must be less than the cut number ><")
         if (!document.querySelector('#btn-submit').classList.toString().includes("d-none")) {
           document.querySelector('#btn-submit').classList.add('d-none')
         }
       }
       else {
         document.querySelector('#btn-submit').classList.remove('d-none')
       }
     }
   }
   
   {% endif %}
</script>
<!-- end form -->
{% endblock %}